* {
  padding: 0;
  min-height: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
}

window#waybar {
  background: lavender;
}

#workspaces button.active {
  background-color: pink;
}
